.card{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
}
.anim-green {
  animation-name: up;
  animation-duration: 2s;
}
.anim-red {
  animation-name: down;
  animation-duration: 2s;
}

@keyframes up {
  0%   {box-shadow: 0 0 10px green;}
  100% {box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);}
}

@keyframes down {
   0%   {box-shadow: 0 0 10px red;}
  100% {box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);}
}